$fontFamily1: 'Open Sans', sans-serif;
$fontFamily2: 'Ubuntu', sans-serif;
$imgs: '../images/';

/* GLOBAL */

* {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

html,
body {
	display: block;
	width: 100%;
	background: #fff;
  	color: #000;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	border: none;
	outline: none;
}

p {
	font-size: 18px;
    font-family: $fontFamily1;
    line-height: 1.75;
}

ul {

	list-style-type: none;
	font-family: $fontFamily1;

	li {
		text-align: center;
		font-size: 18px;
		margin: 5px 0;
	}
}

header {
	display: grid;
	grid-template-columns: 1fr 450px 1fr;
	grid-template-rows: 100px;
	align-items: center;
	padding: 0 3%;

	.social-icons { 
		justify-self: end;
		li {
			display: inline-block;
      		margin-left: 3px;
		}
	}

	nav {
		justify-self: center;
		text-transform: uppercase;
    	letter-spacing: 1px;
		a {
			font-size: 1em;
			border-right: 1px solid #999;
			font-family: $fontFamily1;
			font-weight: bold;
      padding: 0 25px;
      color: black;
		}

		a:last-of-type {
			padding-right: 0;
			border: none;
		}

		a:first-of-type {
			padding-left: 0;
		}
	}


  @media (max-width: 900px) { 
    grid-template-columns: 1fr 350px;
    .social-icons {
      display: none;
    }
    nav {
      justify-self: end;
    }
  }

  @media (max-width: 675px) { 
    grid-template-columns: 1fr;
    nav {
      display: none;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }

}

#hero {

	text-align: center;
	height: 400px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	color: #fff;
	background: url($imgs+'hero.jpg');
	background-size: cover;
	background-position: 100% 43%;

	div {
		position: relative;
		top: 85px;
		display: inline-block;
		border: 1px solid #bbb;
		padding: 40px;
		background: rgba(0,0,0,0.55);
	}

	span {
		font-size: 42px;
		display: block;
		font-family: $fontFamily2;
		margin-bottom: 10px;
	}

  @media (max-width: 900px) { 
    height: 300px;
    div {
      top: 45px;
    }
    span {
      font-size: 32px;
    }
    p {
      font-size: 14px;
    }
  }

  @media (max-width: 675px) { 
    height: 225px;
    div {
      top: 0;
      padding: 30px;
      border: none;
      width: 100%;
      height: 100%;
      br {
        display: none;
      }
    }
    span {
      font-size: 20px;
    }
  }


}

#searches {

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 3%;
	padding: 50px 3%;

	a {

		display: block;
		height: 200px;
		max-width: 100%;
		border: 1px solid black;

		span:nth-of-type(1) {
			font-family: $fontFamily1;
			font-size: 22px;
			text-transform: uppercase;
			text-shadow: 0 0 5px #111;
		}

		span:nth-of-type(2) {
			font-family: $fontFamily2;
			font-size: 48px;
			line-height: 1;
			color: #FFFFFF;
			text-shadow: 0 0 5px #111;
		}

		div {
			top: 35px;
			padding: 25px 0;
			background: rgba(0,0,0,0.65);
		}

	}

  @media (max-width: 1200px) {
    a span:nth-of-type(1) {
      font-size: 18px;
    }
    a span:nth-of-type(2) {
      font-size: 36px;
    }
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 25px;
    padding: 25px 3%;
    a {
      height: 100px;
      div {
        top: 0;
        height: 100%;
        padding-top: 18px;
        background: rgba(0,0,0,0.45)
      }
    }
  }

  @media (max-width: 420px) {
  	a div {
  		padding-top: 25px;
  	}
  	a span:nth-of-type(2) {
  		font-size: 28px;
  	}
  }

}



#apartments-for-rent {
	background: url($imgs+'apartments-for-rent.jpg');
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
	color: #fff;
}

#condos-for-sale {
	background: url($imgs+'condos-for-sale.jpg');
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
	color: #fff;
}

#searches a span {
	display: block;
}



#intro {

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 3%;
	padding: 50px 3%;
	justify-items: center;

	h2 {
		font-family: $fontFamily2;
		font-size: 32px;
		text-align: center;
		margin-bottom: 20px;
	}

	hr {
		display: block;
		width: 200px;
		border: 1px solid #555;
		margin: 25px auto;
	}

	p + p {margin-top: 30px;}

	@media (max-width: 420px) { 
		grid-template-columns: 1fr;
    	grid-column-gap: 0;
    	padding-bottom: 0;
    	div {
    		margin-bottom: 30px;
    		padding: 0 15px;
    	}
    	div + div {
    		margin-top: 20px;
    	}
		ul {
			left: 0;
		}
		h2 {
			font-size: 20px;
		}
		h2 br {
			display: none;
		}
  	}
}



#thumbnails {

	display: grid;
	grid-template-columns: repeat(auto-fill, 22%);
	grid-column-gap: 3%;
	grid-row-gap: 50px;
	padding: 50px 3%;
	justify-items: center;

  @media (max-width: 420px) {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  } 

	a {

		width: 100%;
		height: 200px;
		border: 1px solid black;
		display: inline-block;

		span {
			color: #fff;
			font-size: 24px;
			font-family: $fontFamily1;
			line-height: 1.25;
			padding: 10px;
			background: rgba(0,0,0,0.6);
			display: block;
			position: absolute;
			width: 100%;
			bottom: 0;
		}
	}

}



#retail-space {
	background: url($imgs+'retail-space.png');
	background-size: cover;
}

#about-development {
	background: url($imgs+'about-development.png');
	background-size: cover;
}


section.normal {

	background: #eee;
	padding: 3%;

	h1 {
		font-size: 32px;
		font-family: $fontFamily1;
		text-align: center;
		margin-bottom: 50px;
	}

	ul {
		margin: 20px 0;
		left: 20px;
	}

	ul li {
		font-size: 18px;
		font-family: $fontFamily1;
		line-height: 2;
		font-style: italic;
		text-align: left;
	}

	p {
		font-size: 18px;
		font-family: $fontFamily1;
		line-height: 2;
	}

	p+p {margin-top: 25px;}

	img {
		max-width: 600px;
		border: 5px solid #fff;
	}

	img.left {
		float: left;
		margin: 0 35px 35px 0;
	}

	img.right {
		float: right;
		margin: 0 0 35px 35px;
	}

	div+div {margin-top: 50px;}	

	@media (max-width: 420px) { 
		h1 {
			font-size: 26px;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		img {
			max-width: 100%;
		}
		ul {
			left: 0;
		}
	}

}



section.forms {

	background: #eee;
	padding: 3%;
	min-height: 500px;

	h1 {
		font-size: 32px;
		font-family: $fontFamily1;
		text-align: center;
		margin-bottom: 50px;
	}


	p {
		font-size: 18px;
		font-family: $fontFamily1;
		line-height: 2;
	}

}



.clear {
	display: block;
	clear: both;
}



footer {

	padding: 50px 3%;
	color: #fff;
	display: grid;
	grid-template-columns: 500px auto;
	font-family: $fontFamily1;
	clear: both;
	background: black;

	ul {

		li {

			display: inline-block;

			a {
				font-size: 16px;
				border-right: 1px solid #999;
				font-family: $fontFamily1;
				font-weight: bold;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding-right: 25px;
				padding-left: 25px;
			}

		}

		li:last-of-type {

			a {
				padding-right: 0;
				border: none;
			}

		}

	}

	a {
		color: #fff;
	}

	span {
		display: inline-block;
		margin-bottom: 5px;
	}

	p {
		margin-top: 30px;
		margin-bottom: 5px;
	}

	.home {
		display: block;
		margin-bottom: 5px;
	}

	.phone {
		margin-right: 20px;
	}

	.copy {
		font-size: 12px;
		display: block;
		top: 90px;
		text-align: right;
	}




  @media (max-width: 420px) { 
    grid-template-columns: 1fr;
    justify-items: center;
    .flags {
    	margin: 10px auto 0;
    	max-width: 90%;
    	display: block;
    }
    .logo img {
    	display: block;
    	margin: 0 auto;
    }
    .phone,
    .address,
    .languages {
    	margin:5px 0;
    	text-align: center;
    	display: inline-block;
    	width: 100%;
    }
    div:nth-of-type(2) {
    	display: none;
    }
  }

}

footer > div:nth-of-type(2) {
	justify-self: end;}


form {

	font-family: $fontFamily1;
	max-width: 1200px;
	margin: 50px auto;

	legend {
		font-size: 24px;
		font-family: $fontFamily1;
		text-transform: uppercase;
		background: #111;
		color: white;
		padding: 5px 15px;
	}

	fieldset {
		background: #ddd;
		padding: 25px;
		border: 1px solid black;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		min-height: 500px;
	}

	label {
		display: block;
		margin-bottom: 3px;
		left: 2px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
		font-family: $fontFamily1;
	}

	input,
	select,
	textarea {
		border: 1px solid #ccc;
		font-size: 16px;
		padding: 10px;
		border-radius: 5px;
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}

	textarea {
		height: 130px;
		font-family: $fontFamily1;
	}

	button {
		background: #111;
		color: white;
		padding: 20px;
		border-radius: 3px;
		font-size: 16px;
		width: 100%;
		margin-top: 20px;
		font-family: $fontFamily1;
		text-transform: uppercase;
		transition: background 0.3s ease;
	}

	button:hover{background:#000;cursor: pointer;}

	@media (max-width: 420px) {
		fieldset {
			width: 100%;
			border: none;
		}
		fieldset + fieldset {
			margin-top: 50px;
		}
		legend {
			display: none;
		}
		.two-columns {
			grid-template-columns: 1fr;
		}
		.four-columns {
			grid-template-columns: 1fr 1fr;
		}
	}
}



.two-columns {

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column: 1%;
	align-items: start;
	grid-column-gap: 3%;

	div {
		margin-top: 0 !important;
	}
}


.four-columns {

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column: 1%;
	align-items: start;
	grid-column-gap: 3%;

	div {
		margin-top: 0 !important;
	}
}



/* MULTI SELECT */

#selectall,
#deselectall {
	font-weight: bold;
	font-size: 10px;
	font-family: $fontFamily1;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	left: 2px;
	letter-spacing: 1px;
}

#selectall:hover,
#deselectall:hover {
	padding-bottom: 3px;
	border-bottom: 1px dotted #222;
}

.clear {
	display: block;
	clear: both;
}

#divide {
	font-size: 10px;
	display: inline-block;
	margin: 0 10px;
	font-family: $fontFamily1;
}

#options {
	display: block;
	text-align: right;
	margin-top: -25px;
	margin-bottom: 10px;
	right: 5px;
}

.ms-container {
	background: transparent url($imgs+'switch.png') no-repeat 50% 50%;
	width: 100%;
}

.ms-container li span {
	font-family: $fontFamily1;
	font-size: 14px;
}

.ms-container:after{
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
  min-height: 0;
  visibility: hidden;
}

.ms-container .ms-selectable, .ms-container .ms-selection{
  background: #fff;
  color: #555555;
  display: inline-block;
  width: 47%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.ms-container .ms-selectable {
  margin-right: 6%;
}

.ms-container .ms-list{
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  height: 200px;
  padding: 0;
  overflow-y: auto;
}

.ms-container ul{
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.ms-container .ms-optgroup-container{
  width: 100%;
}

.ms-container .ms-optgroup-label{
  margin: 0;
  padding: 5px 0px 0px 5px;
  cursor: pointer;
  color: #999;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection{
  border-bottom: 1px #ccc solid;
  padding: 10px 15px;
  color: #000;
  margin: 0;
  font-size: 14px;
  text-align: left;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #08c;
}

.ms-container .ms-selectable li.disabled,
.ms-container .ms-selection li.disabled{
  background-color: #eee;
  color: #aaa;
  cursor: text;
}

.status p {
	font-size: 28px !important;
	font-weight: bold;
	line-height: 1.5 !important;
	text-align: center;
}

main.contact p {
	text-align: center;
}

main.contact fieldset {
	width: 100%;
	min-height: auto;
}



@media (max-width: 420px) { 
	p {
		text-align: center;
	}
	ul li {
		margin: 20px 0;
	}
}