/* GLOBAL */

* {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;}

html,
body {
	display: block;
	width: 100%;}

body {
	background: #fff;}


header {
	background: white;
	display: grid;
	grid-template-columns: 1fr 450px 1fr;
	grid-template-rows: 100px;
	align-items: center;
	padding: 0 3%;
}


header ul {
	justify-self: end;}

header ul li {
	display: inline-block;}

header nav {
	justify-self: center;
	text-transform: uppercase;}

header nav a {
	text-decoration: none;
	font-size: 18px;
	border-right: 1px solid #999;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #000;
	padding-right: 25px;
	padding-left: 25px;}

header nav a:last-of-type {
	padding-right: 0;
	border: none;}

header nav a:first-of-type {
	padding-left: 0;}

#hero {
	text-align: center;
	height: 400px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	color: #fff;
	background: url('../images/hero.jpg');
	background-size: cover;
	background-position: 100% 43%;}

#hero div {
	position: relative;
	top: 85px;
	display: inline-block;
	border: 1px solid #bbb;
	padding: 40px;
	background: rgba(0,0,0,0.55);}

#hero span {
	font-size: 42px;
	display: block;
	font-family: 'Ubuntu', sans-serif;
	margin-bottom: 10px;}

#hero p {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	font-size: 18px;}

#searches {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 3%;
	padding: 50px 3%;}

#searches a {
	display: block;
	height: 200px;
	max-width: 100%;
	border: 1px solid black;
	text-decoration: none;}

#searches a span:nth-of-type(1) {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	text-transform: uppercase;
	text-shadow: 0 0 5px #111;
}

#searches a span:nth-of-type(2) {
	font-family: 'Ubuntu', sans-serif;
	font-size: 48px;
	line-height: 1;
	color: #FFFFFF;
	text-shadow: 0 0 5px #111;
}

#searches a div {
	top: 35px;
	padding: 25px 0;
	background: rgba(0,0,0,0.65);
}

#apartments-for-rent {
	background: url('../images/apartments-for-rent.jpg');
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
	color: #fff;}

#condos-for-sale {
	background: url('../images/condos-for-sale.jpg');
	background-size: cover;
	background-position: 50% 50%;
	text-align: center;
	color: #fff;}

#searches a span {
	display: block;}

#intro {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 3%;
	padding: 50px 3%;
	justify-items: center;}

#intro h2 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 32px;
	text-align: center;
	margin-bottom: 20px;}

#intro hr {
	display: block;
	width: 200px;
	border: 1px solid #555;
	margin: 25px auto;}

#intro p {
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	text-align: center;
	line-height: 1.6;}

#intro p + p {
	margin-top: 30px;}


#intro ul {

	left: 20px;
	text-align: center;
	list-style-type: none;
	font-family: 'Open Sans', sans-serif;

	li {

		font-size: 16px;
		margin: 5px 0;

		a {

			text-decoration: none;

		}
	}
}





.person {
	font-family: 'Open Sans', sans-serif;
	display: grid;
	grid-column-gap: 3%;
	align-items: start;
	grid-template-columns: 60px 150px auto;
	justify-items: start;}

.person ul {
	top: -5px;
	width: 100%;
	list-style: none;}

.person ul li {
	color: #333;
	font-size: 14px;
	margin:5px 0;}

.person ul li span {
	display: inline;
	font-weight: bold;}

.person ul li:nth-of-type(1) {
	margin-top: 0;
	color: #0071b5;
	font-size: 18px;
	font-weight: bold;}

.person ul li:nth-of-type(2) {
	color: #000;
	font-weight: bold;}

.person p {
	line-height: 1.5;
	top: 10px;}


#thumbnails {
	display: grid;
	grid-template-columns: repeat(auto-fill, 22%);
	grid-column-gap: 3%;
	grid-row-gap: 50px;
	padding: 50px 3%;
	justify-items: center;}

#thumbnails a {
	width: 100%;
	height: 200px;
	border: 1px solid black;
	text-decoration: none;
	display: inline-block;}

#thumbnails a span {
	color: #fff;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.25;
	padding: 10px;
	background: rgba(0,0,0,0.6);
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;}



#retail-space {
	background: url('../images/retail-space.png');
	background-size: cover;
}

#about-development {
	background: url('../images/about-development.png');
	background-size: cover;
}




.v2 {
	background: #ddd;
	padding: 50px 3%;
}

.v2 h1 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin-bottom: 25px;
}

.v2 p,
.v2 ul {
	font-size: 1.1em;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}


.v2 .button {
	background: url('../images/pages/boston-office-space.png');
	background-size: cover;
	background-position: 50%;
	padding: 20px 20px 15px;
	border-radius: 5px;
	color: black;
	display: block;
	width: 400px;
	height: 225px;
	text-align: center;
	text-decoration: none;
	border: 5px solid #fff;
	margin: 25px 0; 
	box-shadow: 0px 10px 10px -10px #000000, 5px 5px 10px 5px rgba(0,0,0,0);	
}










section.normal {

	background: #eee;
	padding: 3%;

	h1 {
		font-size: 32px;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		margin-bottom: 50px;
	}

	ul {
		margin: 20px 0;
		left: 20px;
	}

	ul li {
		font-size: 18px;
		font-family: 'Open Sans', sans-serif;
		line-height: 2;
		font-style: italic;
	}

	p {
		font-size: 18px;
		font-family: 'Open Sans', sans-serif;
		line-height: 2;
	}

	p+p {margin-top: 25px;}

	img {
		max-width: 600px;
		border: 5px solid #fff;
	}

	img.left {
		float: left;
		margin: 0 35px 35px 0;
	}

	img.right {
		float: right;
		margin: 0 0 35px 35px;
	}

	div+div {margin-top: 50px;}	

}



.clear {
	display: block;
	clear: both;
}



footer {
	padding: 50px 3%;
	color: #fff;
	display: grid;
	grid-template-columns: 500px auto;
	font-family: 'Open Sans', sans-serif;
	clear: both;
	background: black;}

footer ul li {
	display: inline-block;}

footer ul li a {
	text-decoration: none;
	font-size: 16px;
	border-right: 1px solid #999;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-right: 25px;
	padding-left: 25px;}

footer ul li:last-of-type a {
	padding-right: 0;
	border: none;}

footer > div:nth-of-type(2) {
	justify-self: end;}

footer a {
	text-decoration: none;
	color: #fff;}

footer span {
	display: inline-block;
	margin-bottom: 5px;}

footer p {
	margin-top: 30px;
	margin-bottom: 5px;}

footer .home {
	display: block;
	margin-bottom: 5px;}

footer .phone {
	margin-right: 20px;}

footer .copy {
	font-size: 12px;
	display: block;
	top: 90px;
	text-align: right;}




@media only screen 
and (max-width : 1024px) { 

	header nav a {
		padding-right: 15px;
		padding-left: 15px;
		font-size: 14px;}

	#searches a {
		height: 200px;}

	#searches a span:nth-of-type(1) {
		font-size: 18px;}		

	#searches a span:nth-of-type(2) {
		font-size: 34px;}

	#searches a div {
			top: 25px;
			padding: 25px 0;}

	#testimonials {
		padding: 50px 3%;}

	#testimonials #wrap {
		grid-row-gap: 25px;
		grid-column-gap: 5%;}

	.person {
		grid-template-columns: 60px 125px auto;}

	#thumbnails {
		grid-template-columns: 1fr 1fr 1fr 1fr;}

	#thumbnails a {
		height: 200px;}

	#thumbnails a span {
		font-size: 18px;}

	footer ul {
		top: 15px;}

	footer ul li a {
		padding-right: 10px;
		padding-left: 10px;
		font-size: 14px;}

	footer .copy {
		top: 92px;}

}


@media only screen 
and (max-width : 760px) { 

	header {
		grid-template-columns: 1fr 1fr;}

	header ul {
		display: none;}

	header nav {
		justify-self:end;}

	header nav a {
		padding-right: 7px;
		border: none;
		padding-left: 7px;}

	#hero {
		height: 250px;}

	#hero br {
		display: none;}

	#hero div {
		top: 40px;}

	#searches {
		padding: 25px 3%;}

	#searches a {
		height: 150px;}

	#searches a div {
		top: 10px;}

	#searches a span:nth-of-type(1) {
		font-size: 16px;}		

	#searches a span:nth-of-type(2) {
		font-size: 28px;}

	#intro h2 {
		font-size: 28px;}

	#intro p {
		width: 100%;}

	#intro a {
		width: 100%;}

	#testimonials #wrap {
		grid-row-gap: 75px;}

	.person ul li {
		margin: 1px 0;
	    font-size: 12px;}

	.person ul li:nth-of-type(1) {
		font-size: 14px;}

	.person {
		grid-template-columns: 60px 80px auto;}

	#thumbnails {
		grid-template-columns: 1fr 1fr;}

	#thumbnails a {
		height: 200px;}

	#thumbnails a span {
		font-size: 18px;}

	footer .phone {
		font-size: 14px;}

	footer .address {
		font-size: 14px;}


}



@media only screen 
and (max-width : 540px) { 

	header nav a {
		padding: 0;
		text-align: right;
		font-size: 12px;
		display: block;}

	#hero div {
		top: 45px;}

	#hero span {
		font-size: 32px;}

	#hero p {
		font-size: 16px;}

	#searches a span:nth-of-type(2) {
		font-size: 18px;}

	#searches a {
		height: 127px;}

	#intro p {
		font-size: 14px;}

	#intro a {
		font-size: 16px;}

	#testimonials #wrap {
	    grid-template-columns: 1fr;}

	footer {
		padding: 25px 3%;
		grid-template-columns: 1fr;
		justify-items: center;}

    footer .flags {
    	max-width: 100%;}

	footer > div:nth-of-type(2) {
		justify-self: center;}

	footer p {
		font-size: 14px;
		margin-top: 25px;}

	footer ul {
		top: 20px;}

	footer .copy {
		top: 15px;
		text-align: center;}

}




@media only screen 
and (max-width : 420px) { 

	header {
		grid-template-columns: 1fr;
		justify-items: center;}

	header nav {
		display: none;}

	#hero {
		height: 200px;}

	#hero div {
		top: 25px;}

	#hero span {
		font-size: 26px;}

	#hero p {
		font-size: 14px;}

	footer a img {
		display: block;
		margin: auto;}


	footer p {
		margin-top: 20px;
		text-align: center;}


}